<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de cliente</title>
</head>
<body>
	<div>
		<form action="/cliente/cadastrar" method="post">
			<div class="">
				<label for="nome">Nome</label>
				<input type="text" name="nome">
			</div>
			<div class="">
				<label for="sobrenome">Sobrenome</label>
				<input type="text" name="sobrenome">
			</div>
			<div class="">
				<label for="cep">Cep</label>
				<input type="text" name="cep">
			</div>
			<div class="">
				<label for="endereco">Endereço</label>
				<input type="text" name="endereco">
			</div>
			<div class="">
				<label for="cpf">CPF</label>
				<input type="text" name="cpf">
			</div>
			<div>
				<input type="submit" value="Cadastra">
			</div>
		</form>	
	</div>
</body>
</html>	
